---
layout: default
title: Our Story
---

<div class="row">

  <div class="col-md-6 text-center">
    <h2>The Groom</h2>
    <img src="{{baseurl}}/images/corbin-face.png" class="img-circle img-responsive center-block face-corbin">
    <p>Corbin is studying Electrical Engineering with a minor in Computer Science at Oklahoma Christian University. His hobbies include D&amp;D, board games and video games, as well as electronics projects and asking Tanya to paint, draw, or make something (like this website) for him (or one of his hobbies).</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Favorite thing about The Bride</h3>
      </div>
      <div class="panel-body">
        Her long, beautiful red hair. (: Also, I love her ability to create something out of nothing with her art. I can talk to her about anything, everything, and nothing in particular for hours on end. She listens and understands me, and makes me feel loved. And I love that about her.
      </div>
    </div>

    <div class="event">
      <h3>First Met</h3>
      <p>I was sitting in a practice session for the ACM Programming Competition with my other teammates, Kyler and Silas, and the other competition participants. Professor Harbert walked in with a timid girl with stunning red hair and introduced her to us as someone interested in the competition. I did not catch her name. We continued to work quietly until my team was stumped on a problem, at which time we asked the room for help. The timid girl (still nameless) had figured it out, and I was very impressed! After the practice was over and we went our separate ways, I was determined to find out who she was and, as I told Kyler that same day, date her.</p>
      <p>A few weeks passed and the competition loomed closer. Our team mentor, Professor Leftwich, sent out an email asking for individuals to reply back with their cell numbers, for his record. Thinking I was clever, I used "Reply All" instead of simply "Reply" in hopes that others, including the red-haired girl, would do the same. Unfortunately for me, while others did do the same she did not and I was left without her phone number even still. One good thing did come from this email. Professor Leftwich sent it to everyone coming to the competition and I was able to deduce that her name was Tanya Thompson.</p>
      <p>It was on the bus to the competition that we first introduced ourselves to each other. We didn't speak very much, just in general conversation with others on the bus. I can't remember how I got her number, all I remember is that the night before the conversation we stayed up far too late texting each other. I'm sure the guys I was rooming with didn't appreciate the light from my phone or my soft snickering at her (or my) jokes, but I didn't care. This was just the beginning. We enjoyed the competition (her team did better than mine) and spent the whole bus ride back privately texting each other while conversing out loud with the whole bus. This was the beginning.</p>
    </div>
    <div class="event">
        <h3>From First Met to First Date</h3>
        <p>"There was a judge in a certain city," he said, "who neither feared God nor cared about people. A widow of that city came to him repeatedly, saying, 'Give me justice in this dispute with my enemy.' The judge ignored her for a while, but finally he said to himself, 'I don't fear God or care about people, but this woman is driving me crazy. I'm going to see that she gets justice, because she is wearing me out with her constant requests!'" -- Luke 18:2-5, NLT</p>
        <p>This verse reflects a term I have coined in getting Tanya to go on a date with me: <strong>persistent annoyance</strong>. We continued to talk in the months following the programming competition and I did everything in my power to get this girl to go on a date with me, which started with getting her to hang out with me. I did get to hang out with her quite a bit, but I wasn't always honest about my reasons for wanting (or needing) to hang out...</p>
        <p>One of my most favorite memories of this time is when I took a programming homework assignment that I had finished correctly, and that I knew Tanya had finished, and introduced errors (removed a few semicolons, for the tech-savvy) into it so that I could ask her to meet me somewhere and help me with it. She asked if she could just send me her code, but I was not having any of it. I was adament to get her to meet up with me. So we met up under OC's pavillion one night for me to get help. Ultimately, we fixed my "problem" and then spent the rest of the night getting to know each other better. It was awesome. It was the first step.</p>
        <p>Come November, my parents had purchased two Trans-Siberian Orchestra tickets for me as an early Christmas present and I thought I had the perfect first date to take Tanya on. She was at her grandparents for Thanksgiving, and TSO would be shortly after her return. I sent her a text over Thanksgiving break akin to "Hey, I like you, will you go on a date with me to a TSO concert in early December?" I received a text back: "Hey, we can go as <em>friends</em>." Dating Tanya was not going to be so easy after all. We did go to that concert as friends and I was more determined than ever to make this girl mine.</p>
        <p>Throughout the next few months, I continued to express interest in a relationship (read: persistently annoy her to date me) and Tanya continued to delay giving me an answer. That's right, she never said "no" but she never said "yes" either. Can you think of anything more frustrating for a teenaged boy? Me neither. We were attached at the hip, though, and our friendship was growing. Finally, in early February I asked her to go on a date with me and she said yes! Ultimately, I am thankful for the time I had to wait because it made the relationship much more important to me. I fought to get her, and I wasn't going to do anything to lose her.</p>
    </div>
    <div class="event">
      <h3>First Date</h3>
      <p>We went to Johnny Carino's on N. May and Memorial. I picked her up at 7. I was wearing nice slacks and a button down shirt with a tie, she was wearing a dress. She looked great. The food was phenomenal and we stayed at the restaurant for at least two hours after we finished our meal, just talking and enjoying each other's company. This date is still my favorite date with Tanya, ever. We've been on many dates since, and one has yet to top this one. I don't remember what we talked about the whole night, but I do have one distinct memory of doodling on a napkin some code, some pokemon, and some dice.</p>
      <p>After the date and back at OC, I again breached the topic of a relationship with Tanya and again I was shut down. My reasoning was something along the lines of "We've just had a wonderful date, why not have many more?" Impeccable logic, I know, but still not enough to sway her, yet.</p>
    </div>
    <div class="event">
      <h3>From First Date to Proposal</h3>
      <p>Finally, on 1 April 2013 (no joke), nearly 6 months since the November I expressed my feelings and first asked her to go on a date with me and two months after our first official date, I asked her yet again about a relationship (looking back, it almost seems like this was a question I asked daily). This time, <strong><em>she finally said yes!!!</em></strong> I did not know this at the time, but later I found out that she had decided to give me a one month trial period (during which I must have done well, considering I am writing this). I'm so glad that she did, but I also enjoy teasing her about it!</p>
      <p>Since then, we were even more inseparable than before (if that is possible). I enjoyed meeting Tanya's family and cooking for them (something I still try to do at least once a visit). I've enjoyed taking Tanya to the lake and sharing with her an integral part of my childhood. She picked up wakeboarding pretty quickly! We've played many a game of D&amp;D together and marathoned Lord of the Rings (extended edition, of course) together at least five times. I love cooking for her and seeing her face light up when she likes something I've made (I think she's the happiest when she's eating). We had countless conversations about whatever came to our mind that would last hours, sometimes late into the night (when we had class early the next day...) and I loved every one of them.</p>
      <p>Tanya and I talked about getting married every now and again. I had planned to propose on her birthday, 17 October 2015, but I didn't tell her this. That night was a Friday night, which is D&amp;D night. I was planning on taking the ring and putting it in a small box that was decorated like a treasure chest. I planned on working that chest into the game that we were playing, and when Tanya encountered it, I would get down on one knee and ask her to marry me. I texted my mom one night in January and asked her if she could have dinner with me after work. We went to Iguana Mexican Grill in OKC and it was there that I told her I wanted to marry Tanya. I told her about the date I had picked out, and she mentioned that it would be helpful if we had the summer of 2015 to plan the wedding. I left that dinner adament in my plan, but just a few days later texted her and told her that I had changed my mind and was going to propose on our anniversary, 1 April 2015.</p>
      <p>Tanya does not like jewelry. This made finding Tanya an engagement ring very difficult for me. I spent a few weeks scouring Zales and other jeweler's websites to find the perfect ring. Finally, I found a simply diamond slant band with beautiful green (her favorite color) emeralds. I knew it was the one.</p>
      <p>I had just one obstacle remaining before I could propose: getting her parents' blessing. I called them and asked if I could come meet with them on a Saturday afternoon. We scheduled a date and I arranged for my dad to fly me down to Greenville. I told Tanya I had to spend the Saturday at home helping dad with some household projects (in actuality, dad was helping me!). We landed at the small airport there and I took the airport car to her house. I was nervous. Her parents had guessed, of course, why I was coming down. We spoke, and they gave their blessing. Thank goodness! I was way more worried about getting them to say yes than I was about getting Tanya to say yes. I got to show her parents and siblings the ring I had bought, and they loved it. </p>
    </div>
    <div class="event">
      <h3>Proposal</h3>
      <p>The date was set. The ring was bought. Her parents' blessing was given. Now I just had to plan and execute. Easier said than done. By moving my date up to April, I had significantly lessened my planning time and couldn't do the D&ampD proposal anymore. I had to come up with a new plan.</p>
      <p>Hafer Park in Edmond is absolutely beautiful in the spring. Tanya and I had walked around its trails a few times and I knew it would be a great place to propose. I came up with the idea of a picnic date, during which I would propose. I gathered the supplies: a folding table and chairs from Grandma, an ice chest and sandwich supplies from Wal-Mart, place cards that said "Mr. Murrow" and "Future Mrs. Murrow" on them. I went out to the park after classes, around 4 PM, on the day of the proposal and set everything up. I recruited my roommates to stand guard over the setup in the park and make sure that nobody disturbed it. I had a Jon assigned to taking pictures (covertly, of course) and a Drew assigned to taking video (also covertly) as we approached the table. They had both been briefed on the proposal plan using the diagram (I'm an engineer, give me a break) I drew.</p>
      <p>After setting everything up and doing a dry run with the guys, I left to go pick up Tanya. I made her dress up in a dress (she complained because we were going to the park) and once again she looked gorgeous. We went to the park, but before we sat down for dinner, I took her on a walk around the trails of the park. I made sure to park away from the picnic table and chairs so that she wasn't aware of them. During the walk I recounted to her our story and all the things I loved about her. She was in no mood for romance or niceties, however, because she was hungry. She kept asking me where the food was and when we would get to eat! Finally, we came to the picnic table that I had set up. I set it up so that for her to look at her place card, her back would be to me. While she was looking at her place card, I dropped to one knee and pulled out the ring. When she turned back around, I popped the question!</p>
      <p><strong><em>And she said yes!</em></strong></p>
      <p>I called the guys out of hiding (much to her chagrin, as she found out she had been photographed and videoed) and we took some pictures by the lake before settling down to have our picnic. Funnily enough, she barely ate anything!</p>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <h2>The Bride</h2>
    <img src="{{baseurl}}/images/tanya-face.png" class="img-circle img-responsive center-block face-tanya">
    <p>Tanya is studying Computer Science at Oklahoma Christian University. Her hobbies include playing video games, D&amp;D, and board games, as well as drawing, reading, and painting. She loves Lord of the Rings, and loves Star Wars only slightly less.</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Favorite thing about The Groom</h3>
      </div>
      <div class="panel-body">
        <p>He's very self-motivated, and I really admire (and envy) that. If he wants something, he'll get it (as I have experienced firsthand...). If he wants to learn how to do something, he'll teach himself. He's very smart, and good at almost everything he does. I also most definitely love his cooking. ;)</p>
      </div>
    </div>

    <div class="event">
      <h3>First Met</h3>
      <p>After doing the UIL programming competitions in high school, I was interested in the ACM programming competition that OC participated in. </p>
    </div>
    <div class="event">
      <h3>First Date</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Started Dating</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Proposal</h3>
      <p>It was our 2-year annivarsary, and Corbin said we could have a picnic at the park. He brought me there, but hadn't brought any food! We walked and talked around one of the trails, and all the while I kept asking where our food was (I was starving, of course). When we got around to the pond, I saw that he had already set up our picnic. As we got to the table, I saw placeholders with our names on them. I got around to my side, and had to do a double-take; my placeholder didn't say "Tanya", but instead "Future Mrs. Murrow". I turned around, and he was down on one knee! I was totally surprised, but when I realized what was happening, I said yes!</p>
    </div>
  </div>
</div>

<!--
{% for story in {{site.posts}} reversed %}
<div class="event">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{story.title}}</h3>
      <p><span class="glyphicon glyphicon-calendar"></span> {{story.event-date}}</p>
      <p>{{story.place}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object img-circle face-small" src="{{baseurl}}/images/corbin-face.png">
          </a>
        </div>
        <div class="media-body">
          {{story.corbin}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-body">
          {{story.tanya}}
        </div>
        <div class="media-right media-middle">
          <a href="#">
            <img class="media-object img-circle face-small" src="{{baseurl}}/images/tanya-face.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%} -->

<!-- <div class="row">
  <div class="col-md-12">
    <ul class="timeline">
      {% for story in {{site.posts}} reversed %}
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">{{story.title}} <small class="text-muted"></small></h3>
            <p>{{story.place}}<br><small class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{story.event-date}}</small></p>
          </div>
          <div class="timeline-body">
            <img class="img-responsive" src="{{story.image}}" />
            {{story.content}}
          </div>
        </div>
      </li>
      {%endfor%}
      <li class="clearfix" style="float: none;"></li>
    </ul>
  </div>
</div> -->
