---
layout: default
title: Our Story
---

<div class="row">

  <div class="col-md-6 text-center">
    <h2>The Groom</h2>
    <img src="{{baseurl}}/images/corbin-face.png" class="img-circle img-responsive center-block face-corbin">
    <p>Corbin is studying Electrical Engineering with a minor in Computer Science at Oklahoma Christian University. His hobbies include D&amp;D, board games and video games, as well as electronics projects and asking Tanya to paint, draw, or make something (like this website) for him (or one of his hobbies).</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Favorite thing about The Bride</h3>
      </div>
      <div class="panel-body">
        Her long, beautiful red hair. (: Also, I love her ability to create something out of nothing with her art.
      </div>
    </div>

    <div class="event">
      <h3>First Met</h3>
      <p>I was sitting in a practice session for the ACM Programming Competition with my other teammates, Kyler and Silas, and the other competition participants. Professor Harbert walked in with a timid girl with stunning red hair and introduced her to us as someone interested in the competition. I did not catch her name. We continued to work quietly until my team was stumped on a problem, at which time we asked the room for help. The timid girl (still nameless) had figured it out, and I was very impressed! After the practice was over and we went our separate ways, I was determined to find out who she was and, as I told Kyler that same day, date her.</p>
      <p>A few weeks passed and the competition loomed closer. Our team mentor, Professor Leftwich, sent out an email asking for individuals to reply back with their cell numbers, for his record. Thinking I was clever, I used "Reply All" instead of simply "Reply" in hopes that others, including the red-haired girl, would do the same. Unfortunately for me, while others did do the same she did not and I was left without her phone number even still. One good thing did come from this email. Professor Leftwich sent it to everyone coming to the competition and I was able to deduce that her name was Tanya Thompson.</p>
      <p>It was on the bus to the competition that we first introduced ourselves to each other. We didn't speak very much, just in general conversation with others on the bus. I can't remember how I got her number, all I remember is that the night before the conversation we stayed up far too late texting each other. I'm sure the guys I was rooming with didn't appreciate the light from my phone or my soft snickering at her (or my) jokes, but I didn't care. This was just the beginning. We enjoyed the competition (her team did better than mine) and spent the whole bus ride back privately texting each other while conversing out loud with the whole bus. This was the beginning.</p>
    </div><div class="event">
      <h3>Asking Out</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>First Date</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Started Dating</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Proposal</h3>
      <p></p>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <h2>The Bride</h2>
    <img src="{{baseurl}}/images/tanya-face.png" class="img-circle img-responsive center-block face-tanya">
    <p>Tanya is studying Computer Science at Oklahoma Christian University. Her hobbies include playing video games, D&amp;D, and board games, as well as drawing, reading, and painting. She loves Lord of the Rings, and loves Star Wars only slightly less.</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Favorite thing about The Groom</h3>
      </div>
      <div class="panel-body">
        <p>He's very self-motivated, and I really admire (and envy) that. If he wants something, he'll get it. If he wants to learn how to do something, he'll teach himself. He's very smart, and good at almost everything he does. I also most definitely love his cooking. ;)</p>
      </div>
    </div>

    <div class="event">
      <h3>First Met</h3>
      <p>After doing the UIL programming competitions in high school, I was interested in the ACM programming competition that OC participated in. </p>
    </div>
    <div class="event">
      <h3>Asking Out</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>First Date</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Started Dating</h3>
      <p></p>
    </div>
    <div class="event">
      <h3>Proposal</h3>
      <p>It was our 2-year annivarsary, and Corbin said we could have a picnic at the park. He brought me there, but hadn't brought any food! We walked and talked around one of the trails, and all the while I kept asking where our food was (I was starving, of course). When we got around to the pond, I saw that he had already set up our picnic. As we got to the table, I saw placeholders with our names on them. I got around to my side, and had to do a double-take; my placeholder didn't say "Tanya", but instead "Future Mrs. Murrow". I turned around, and he was down on one knee! I was totally surprised, but when I realized what was happening, I said yes!</p>
    </div>
  </div>
</div>

<!--
{% for story in {{site.posts}} reversed %}
<div class="event">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{story.title}}</h3>
      <p><span class="glyphicon glyphicon-calendar"></span> {{story.event-date}}</p>
      <p>{{story.place}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object img-circle face-small" src="{{baseurl}}/images/corbin-face.png">
          </a>
        </div>
        <div class="media-body">
          {{story.corbin}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-body">
          {{story.tanya}}
        </div>
        <div class="media-right media-middle">
          <a href="#">
            <img class="media-object img-circle face-small" src="{{baseurl}}/images/tanya-face.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%} -->

<!-- <div class="row">
  <div class="col-md-12">
    <ul class="timeline">
      {% for story in {{site.posts}} reversed %}
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">{{story.title}} <small class="text-muted"></small></h3>
            <p>{{story.place}}<br><small class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{story.event-date}}</small></p>
          </div>
          <div class="timeline-body">
            <img class="img-responsive" src="{{story.image}}" />
            {{story.content}}
          </div>
        </div>
      </li>
      {%endfor%}
      <li class="clearfix" style="float: none;"></li>
    </ul>
  </div>
</div> -->
