<!-- Modal -->
<div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="myModalLabel">Directions</h2>
      </div>
      <div class="modal-body" id="directionsPanel">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" target="_blank" class="btn btn-primary directions-google-maps">Open in Google Maps</a>
      </div>
    </div>
  </div>
</div>
