
.test {
  text-align: center;
}

.registry-img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 0px;
}

.registry-img:hover {
  border-bottom: 2px solid #fff;
  border-bottom-color: rgba(255,255,255,.25);
}

/* Cycling background image ---------------------- */
body {
  /*background-image: url('../images/photo1.jpg');*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* Header font centering */

.cover-heading {
  text-align: center;
  font-size: 500%;
}

/* cover page spacer */
@media (min-width: 768px) {
  .spacer {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .spacer {
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .spacer {
    height: 350px;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.footer p {
  margin: 20px 0;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
