/* RSVP page styles */

/* Custom default button */

.btn-default {
  color: #ccc;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #333;
  border: 1.5px solid #777;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active{
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #444;
  border: 1.5px solid #fff;
}

.btn-default:disabled {
  color: #ccc;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #444;
  border: 1.5px solid #777;
}

.btn-primary {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #666;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #ddd;
  border: 1px solid #333;
}

.form-control {
  background-color: #333;
  color: #ccc;
}

.form-control:hover {
  background-color: #444;
  color: #fff;
  border-color: #fff;
}

.input-group-addon,
.form-control {
  border-color: #777;
}

.input-group-addon {
  background-color: #555;
  color: #bbb;
  width: 70px;
}

.input-group {
  width: 100%; /* Fixes width: 70px from input-group-addon */
}

.input-symbol {
  color: #999;
}

.form-control:hover .input-symbol {
  color: #fff;
}

div {
  text-shadow: none;
}

/* ----end RSVP page styles--------- */



/* Fonts */

html,
body {
  font-family: 'Raleway', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berkshire Swash', serif;
}

.header-font {
  font-family: 'Berkshire Swash', serif;
}

.body-font {
  font-family: 'Raleway', serif;
}

/* Colors */

body {
  color: #fff;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  background-color: #333;
}

.site-wrapper {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  font-size: 150%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active:hover > a,
.navbar-default .navbar-nav > .active:focus > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-bottom-color: #fff;
}

@media (min-width: 992px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active:hover > a,
  .navbar-default .navbar-nav > .active:focus > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-bottom-color: #fff;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #fff;  /* IE8 proofing */
  color: rgba(255,255,255,.75);
  background-color: #333;
}

@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    color: #fff;  /* IE8 proofing */
    color: rgba(255,255,255,.75);
    background-color: transparent;
    }
  }

.navbar-default .navbar-nav > li:hover > a
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;  /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 1px solid #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
  font-size: 150%;
}

/*
 * Footer
 */

.footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5); /* should this be commented?*/
  background-color: transparent;
  /*background-color: rgba(0,0,0,.5);*/
}

/* Links */
a {
  color: #ccc;
}

a:focus,
a:hover {
  color: #fff;
}

/* Custom hr
Gradient: transparent - color - transparent */
.hr-custom {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
