<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{baseurl}}/stylesheets/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="{{baseurl}}/stylesheets/site.css" />
    <link rel="stylesheet" href="{{baseurl}}/stylesheets/theme.css" /> -->
    <link rel="stylesheet" href="{{baseurl}}/stylesheets/stylesheet.css" />
    <link href='http://fonts.googleapis.com/css?family=Quando|Courgette' rel='stylesheet' type='text/css'>


    <link href='http://fonts.googleapis.com/css?family=Raleway|Berkshire+Swash' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{baseurl}}/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{baseurl}}/javascripts/background.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQQ8a-J0J964VkNb1a6xSVBAR-6QcJe2A">
    </script>
    <!-- &callback=initMap -->
    <script type="text/javascript" src="{{baseurl}}/javascripts/map.js"></script>

    <script type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js"></script>
    <script type="text/javascript" src="{{baseurl}}/javascripts/send-email.js"></script>

    <script type="text/javascript" src="{{baseurl}}/javascripts/rsvp.js"></script>
    <script type="text/javascript" src="{{baseurl}}/javascripts/local-storage-monster.js"></script>

    <script type="text/javascript" src="{{baseurl}}/javascripts/map.js"></script>

    <script type="text/javascript" src="{{baseurl}}/javascripts/main.js"></script>

  </head>
  <body class={% if {{page.title}} contains 'Murrow' %}index{%else%}other{%endif%}>
    {% include navbar.html %}

    {% unless {{page.title}} contains 'Murrow' %}
    <div class="spacer">
    </div>
    <h1 class="cover-heading">{{page.title}}</h1>
    <hr class="hr-custom">
    {% endunless %}

    <div class="container">
      {{content}}
    </div>

    {% unless {{page.title}} contains 'Murrow' %}
    <footer class="footer">
      <div class="container">
        <div class="row">
           <div class="col-sm-6">
             <p>Created by Corbin and mostly Tanya &lt;3</p>
           </div>
           <div class="col-sm-6">
             <p>Questions? <a href="mailto:murrowwedding@gmail.com?subject=Feedback">Email us.</a></p>
           </div>
         </div>
      </div>
    </footer>
    {% endunless %}

  </body>
</html>
